---
import Link from "./Link.astro";
---

<p class="mb-8 text-lg sm:text-xl">
  Desenvolvedor de Software que mora no Rio de Janeiro, Brasil. Sou entusiasta
  por tecnologia, inovação e solução de problemas. Estou me especializando em
  Desenvolvimento Web, usando tecnologias como <Link
    href="https://developer.mozilla.org/pt-BR/docs/Web/HTML"
  >
    HTML
  </Link>, <Link href="https://developer.mozilla.org/pt-BR/docs/Web/CSS">
    CSS
  </Link>, <Link href="https://tailwindcss.com/">Tailwind CSS</Link>,
  <Link href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript">
    JavaScript
  </Link>, <Link href="https://www.typescriptlang.org/">TypeScript</Link> e o ecossistema
  do <Link href="https://react.dev/">React</Link>. No entanto gosto de aprender
  continuamente e sempre estou explorando novas tecnologias, como por exemplo: <Link
    href="https://nodejs.org/en"
  >
    Node
  </Link>,
  <Link href="https://expressjs.com/">Express</Link>, etc.
</p>
