---
import About from "./About.astro";
import { SocialSection } from "../components/SocialSection";
---

<section>
  <p class="text-lg sm:text-xl">Olá, me chamo</p>
  <h1
    class="my-8 bg-gradient-to-r from-purple-900 to-cyan-600 bg-clip-text text-7xl font-semibold text-black text-transparent dark:from-purple-800 dark:to-cyan-400 sm:text-8xl lg:text-9xl"
  >
    Vitor Roberto
  </h1>
  <About />
  <SocialSection />
</section>
